<!-- <h1>Noticia#fii</h1>
<p>Find me in app/views/noticia/fii.html.erb</p>
 -->

<table id="news">
  <tbody>
  	<% @lista_noticias.map { |top| %>
  	    <tr>
	        <td> <a href="<%= top.link %>">  <%= top.titulo %> </a></td>
	    </tr>
	<% } %>
  </tbody>
</table>
