<div class="main">
	<% if(params.has_key?(:codigo)) %>
	<h3>Rendimentos do ativo <%= params[:codigo] %></h3>
	<% end %>
	<% if (@ngiri.kind_of?(Array)) %>
	<table>
		<% @ngiri.each do |item| %>
		<tr>
			<td><%= item %></td>
		</tr>
		<% end %>
	</table>
	<% else %>
	<h5><%= @ngiri%></h5>
	<% end %>
</div>