<div class="main">
	<h3>Segue a lista de rendimentos</h3>
	<% if (@ngiri.kind_of?(Array)) %>
	<table>
		<% @ngiri.each do |item| %>
		<tr>
			<td><%= item %></td>
		</tr>
		<% end %>
	</table>
	<% else %>
	<%= @ngiri%>
	<% end %>
</div>